<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>umby.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0D9C1E9214E0AD7D3B61A0D33712D26BD2C2E2A8</string>
				<key>dateExpires</key>
				<string>3/8/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>34J4GF89XX.com.jlillioja.umby</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>34J4GF89XX</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>34J4GF89XX.com.jlillioja.umby</string>
				</array>
			</dict>
			<key>name</key>
			<string>umby.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>86d51969-47d5-42d2-8fab-ccf1fb5559f3</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.jlillioja.umby</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>34J4GF89XX</string>
				<key>name</key>
				<string>Jacob Lillioja</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
